---
const m = { tip: "座右铭", t1: "人间总有三两风，", t2: "着我十万八千梦。" };
---

<div
  class="author-content-item maxim
            w-full p-6 rounded-xl border shadow
            bg-base-100 dark:bg-base-200"
>
  <div class="text-xs opacity-60 mb-2">{m.tip}</div>
  <div class="text-3xl font-bold">
    <span class="opacity-60">{m.t1}</span><span>{m.t2}</span>
  </div>
</div>
