---
const t = { tip: "关注偏好", title: "博客写作及完善", bottom: "资源分享、小说阅读" };
---

<div
  class="author-content-item like-technology w-full text-white p-6 rounded-xl border shadow
            bg-cover bg-center"
  style="background:url('https://cdn.jsdelivr.net/gh/mcyzsx/picx-images-hosting@master/custom/mc-about.webp') no-repeat center/cover;"
>
  <div class="card-content">
    <div class="text-xs opacity-80 mb-2">{t.tip}</div>
    <div class="text-3xl font-bold mb-2">{t.title}</div>
    <div class="text-sm opacity-90">{t.bottom}</div>
  </div>
</div>
