---
import BaseLayout from "@layouts/BaseLayout.astro";
import MainCard from "@components/MainCard.astro";
import BaseCard from "@components/BaseCard.astro";
import NavigationCard from "@components/mdx/NavigationCard.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="导航">
  <MainCard infoIcon="lucide:compass">
    <div class="space-y-10">
      <!-- 我的部署项目 -->
      <section>
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="mdi:blogger" class="w-6 h-6 text-primary" />
          <span>我部署的网站</span>
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <NavigationCard
            name="RyuChan博客"
            avatar="https://cdn.jsdelivr.net/gh/mcyzsx/picx-images-hosting@master/custom/ryuchan.webp"
            description="Astro博客的RyuChan主题自用"
            url="https://boke.zsx815.top/"
            category="博客"
            id="Site001"
          />

          <NavigationCard
            name="Mizuki博客"
            avatar="https://cdn.jsdelivr.net/gh/mcyzsx/picx-images-hosting@master/custom/mizuki.webp"
            description="Astro博客的Mizuki主题自用"
            url="https://blog.zsx815.top/"
            category="博客"
            id="Site002"
          />

          <NavigationCard
            name="Memos-CloudFlare"
            avatar="https://favicon.im/usememos.com?larger=true"
            description="Memos的CloudFlare部署版本"
            url="https://memos.zsx815.top/"
            category="微博客"
            id="Site003"
          />

          <NavigationCard
            name="Ech0"
            avatar="https://favicon.im/memo.vaaat.com?larger=true"
            description="Ech0 即刻短文"
            url="https://ech0.050815.xyz/"
            category="微博客"
            id="Site004"
          />

          <NavigationCard
            name="Hugo Moment"
            avatar="https://cdn.jsdelivr.net/gh/mcyzsx/picx-images-hosting@master/custom/86035589-(1).8vncrycu2c.webp"
            description="Hugo的即刻短文主题"
            url="https://moment.zsx815.top/"
            category="微博客"
            id="Site005"
          />

          <NavigationCard
            name="Icefox"
            avatar="https://cdn.jsdelivr.net/gh/mcyzsx/picx-images-hosting@master/custom/icefox.7zqvcjs1nb.webp"
            description="Typecho的即刻短文主题"
            url="https://pyq.mcyzsx.top/"
            category="微博客"
            id="Site006"
          />

          <NavigationCard
            name="Heo-Music"
            avatar="https://cdn.jsdelivr.net/gh/mcyzsx/picx-images-hosting@master/custom/heo-music.1sfhcf90kc.webp"
            description="Heo的音乐播放器自用"
            url="https://music.zsx815.top/"
            category="音乐播放器"
            id="Site007"
          />

          <NavigationCard
            name="vhan-analystics"
            avatar="https://cdn.jsdelivr.net/gh/mcyzsx/picx-images-hosting@master/custom/hananalystics.99tsiywo08.webp"
            description="简单的网络分析跟踪器和仪表板"
            url="https://han.zsx815.top/"
            category="统计分析"
            id="Site008"
          />

          <NavigationCard
            name="random-pictures"
            avatar="https://cdn.jsdelivr.net/gh/mcyzsx/picx-images-hosting@master/custom/random-picture.webp"
            description="基于vercel的随机图片api"
            url="https://img-api.zsx815.top/"
            category="随机图片API"
            id="Site009"
          />

          <NavigationCard
            name="Cloudflare-memos"
            avatar="https://favicon.im/memos.mcyzsx.top?larger=true"
            description="即刻短文"
            url="https://memos.mcyzsx.top/"
            category="微博客"
            id="Site0010"
          />

          <NavigationCard
            name="cfalbums"
            avatar="https://github.com/mcyzsx/picx-images-hosting/raw/master/custom/WeuiAlbumOutlined.6t7kfjziq3.svg"
            description="基于cloudflare的相册系统"
            url="https://gallery.mcyzsx.top/"
            category="微博客"
            id="Site0011"
          />

          <NavigationCard
            name="ech0"
            avatar="https://cdn.jsdelivr.net/gh/mcyzsx/picx-images-hosting@master/links/echo.svg"
            description="基于GO语言的即刻短文"
            url="https://echo.051531.xyz/"
            category="微博客"
            id="Site0012"
          />

          <NavigationCard
            name="Momentd-cloudflare"
            avatar="https://cdn.jsdelivr.net/gh/mcyzsx/picx-images-hosting@master/custom/wechat.8adpk5t6ud.webp"
            description="基于cloudflare的Moments朋友圈"
            url="https://moment.mcyzsx.top/"
            category="微博客"
            id="Site0013"
          />
        </div>
      </section>
      <!-- 开发工具 -->
      <section>
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:code" class="w-6 h-6 text-primary" />
          <span>开发工具</span>
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <NavigationCard
            name="Umami"
            avatar="https://img.xiaozhangya.xin/file/Logo/1753850918996_umami.png"
            description="网站访问统计分析平台"
            url="https://umami.zsx815.top/dashboard"
            category="统计分析"
            id="DEV001"
          />

          <NavigationCard
            name="Vercel"
            avatar="https://img.xiaozhangya.xin/file/Logo/1753851435981_Vercel.png"
            description="现代化的前端部署平台"
            url="https://favicon.im/vercel.com?larger=true"
            category="部署托管"
            id="DEV002"
          />

          <NavigationCard
            name="Iconify"
            avatar="https://favicon.im/yesicon.app?larger=true"
            description="海量图标库和图标搜索工具"
            url="https://yesicon.app/"
            category="图标设计"
            id="DEV003"
          />

          <NavigationCard
            name="Iconfont"
            avatar="https://img.xiaozhangya.xin/file/Logo/DEPF9Ovv.png"
            description="阿里巴巴图标库"
            url="https://www.iconfont.cn/"
            category="图标设计"
            id="DEV004"
          />

          <NavigationCard
            name="Shields"
            avatar="https://shields.io/img/logo.png"
            description="为项目生成各种徽章"
            url="https://shields.io/"
            category="徽章工具"
            id="DEV005"
          />

          <NavigationCard
            name="Picx"
            avatar="https://favicon.im/picx.xpoet.cn?larger=true"
            description="基于GitHub的图床"
            url="https://picx.xpoet.cn/"
            category="图床"
            id="DEV006"
          />

          <NavigationCard
            name="图片压缩"
            avatar="https://favicon.im/www.zippic.cn?larger=true"
            description="图片压缩工具"
            url="https://www.zippic.cn/zh/bulk-image-compressor"
            category="图片工具"
            id="DEV007"
          />

          <NavigationCard
            name="favicon 图标"
            avatar="https://favicon.im/favicon.im?larger=true"
            description="图标工具"
            url="https://favicon.im/zh/"
            category="图标"
            id="DEV008"
          />

          <NavigationCard
            name="emoji"
            avatar="https://favicon.im/emoji6.com?larger=true"
            description="表情工具"
            url="https://emoji6.com/emojiall/"
            category="表情"
            id="DEV009"
          />

          <NavigationCard
            name="fontawesome 图标"
            avatar="https://favicon.im/fontawesome.com?larger=true"
            description="fontawesome 图标"
            url="https://fontawesome.com/"
            category="图标设计"
            id="DEV010"
          />

          <!-- <NavigationCard
            name="Clarity"
            avatar="https://picbed.xiaozhangya.xin/picbed/20250726225237829.png"
            description="微软的用户行为分析工具"
            url="https://clarity.microsoft.com/"
            category="用户分析"
            id="DEV005"
          /> -->
        </div>
      </section>

      <!-- 服务平台 -->
      <section>
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:server" class="w-6 h-6 text-primary" />
          <span>服务平台</span>
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <NavigationCard
            name="aliyun"
            avatar="https://imgbed.kemeow.top/file/img/logo/nav/gQyPAu3e.png"
            description="阿里云域名托管"
            url="https://cn.aliyun.com/"
            category="域名管理"
            id="SRV001"
          />

          <NavigationCard
            name="Cloudflare"
            avatar="https://www.cloudflare.com/favicon.ico"
            description="全球领先的CDN和安全服务"
            url="https://dash.cloudflare.com/login"
            category="域名托管服务"
            id="SRV002"
          />

          <NavigationCard
            name="EdgeOne"
            avatar="https://img.xiaozhangya.xin/file/Logo/cRfyZZ2A.png"
            description="国内CDN和边缘计算服务"
            url="https://console.edgeone.cn/"
            category="CDN服务"
            id="SRV003"
          />

          <NavigationCard
            name="圣道云"
            avatar="https://imgbed.kemeow.top/file/img/logo/nav/JBsnx5mY.png"
            description="圣道云"
            url="https://www.shengdaoyun.cn/"
            category="服务器 && 虚拟主机"
            id="SRV004"
          />

          <NavigationCard
            name="Waline"
            avatar="https://waline.js.org/favicon.ico"
            description="简洁、安全的评论系统"
            url="https://waline.js.org/"
            category="评论服务"
            id="SRV005"
          />

          <NavigationCard
            name="Giscus"
            avatar="https://avatars.githubusercontent.com/ml/9968?s=82&v=4"
            description="GitHub Discussions 评论系统"
            url="https://giscus.app/zh-CN"
            category="评论服务"
            id="SRV006"
          />
          <NavigationCard
            name="Akismet"
            avatar="https://img.xiaozhangya.xin/file/Logo/opkjgCvb.svg"
            description="保持评论区干净整洁的小助手"
            url="https://akismet.com/"
            category="评论服务"
            id="SRV007"
          />

          <NavigationCard
            name="GitHub"
            avatar="https://github.githubassets.com/favicons/favicon.svg"
            description="全球最大的开源社区"
            url="https://github.com"
            category="代码托管"
            id="SRV008"
          />

          <NavigationCard
            name="Twikoo"
            avatar="https://twikoo.js.org/twikoo-logo-mini.png"
            description="Twikoo评论服务"
            url="https://twikoo.js.org"
            category="评论服务"
            id="SRV009"
          />
        </div>
      </section>

      <!-- 娱乐资源 -->
      <section>
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:image" class="w-6 h-6 text-primary" />
          <span>娱乐资源</span>
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <NavigationCard
            name="Wallhaven"
            avatar="https://picbed.xiaozhangya.xin/picbed/20250726182418838.png"
            description="高质量壁纸分享社区"
            url="https://wallhaven.cc/"
            category="壁纸资源"
            id="ENT001"
          />
          <NavigationCard
            name="GO 音乐平台"
            avatar="https://favicon.im/music.gdstudio.xyz?larger=true"
            description="音乐下载网站"
            url="https://music.gdstudio.xyz/"
            category="音乐资源"
            id="ENT002"
          />

          <NavigationCard
            name="BiliBili 视频"
            avatar="https://favicon.im/www.bilibili.com?larger=true"
            description="B站视频"
            url="https://www.bilibili.com"
            category="视频网站"
            id="ENT003"
          />
        </div>
      </section>

      <!-- Useful Resources Section -->
      <!-- <section>
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:bookmark" class="w-6 h-6 text-primary" />
          <span>Useful Resources</span>
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <NavigationCard
            name="Astro"
            avatar="https://img.xiaozhangya.xin/file/Logo/HXADhsBn.png"
            description="Astro是一个现代化的静态网站生成器，专注于性能和开发者体验。"
            url="https://docs.astro.build"
            category="文档"
            id="RES001"
          />
          <NavigationCard
            name="Tailwind"
            avatar="https://img.xiaozhangya.xin/file/Logo/mrp0EiyB.png"
            description="Tailwind CSS是一个功能类优先的CSS框架，提供了实用的样式类。"
            url="https://tailwindcss.com/docs"
            category="文档"
            id="RES002"
          />
          <NavigationCard
            name="DaisyUI"
            avatar="https://img.xiaozhangya.xin/file/Logo/WEl6nL3H.svg"
            description="DaisyUI是一个基于Tailwind CSS的组件库，提供了丰富的UI组件。"
            url="https://daisyui.com/components/"
            category="UI 框架"
            id="RES003"
          />
          <NavigationCard
            name="TypeScript"
            avatar="https://img.xiaozhangya.xin/file/Logo/FL3XpMDh.png"
            description="TypeScript是JavaScript的超集，添加了静态类型和其他功能。"
            url="https://www.typescriptlang.org/docs/handbook/intro.html"
            category="文档"
            id="RES004"
          />
        </div>
      </section> -->
      <div class="divider my-8">
        <Icon name="lucide:heart" class="w-10 h-10 text-primary" />
      </div>
    </div>
  </MainCard>
</BaseLayout>
