---
import BaseLayout from "@layouts/BaseLayout.astro";
import MainCard from "@components/MainCard.astro";
import BaseCard from "@components/BaseCard.astro";
import NavigationCard from "@components/mdx/NavigationCard.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="导航">
  <MainCard infoIcon="lucide:compass">
    <div class="space-y-10">
      <!-- 开发工具 -->
      <section>
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:code" class="w-6 h-6 text-primary" />
          <span>开发工具</span>
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <NavigationCard
            name="Umami"
            avatar="https://img.xiaozhangya.xin/file/Logo/1753850918996_umami.png"
            description="网站访问统计分析平台"
            url="https://umami.zsx815.top/dashboard"
            category="统计分析"
            id="DEV001"
          />

          <NavigationCard
            name="Vercel"
            avatar="https://img.xiaozhangya.xin/file/Logo/1753851435981_Vercel.png"
            description="现代化的前端部署平台"
            url="https://favicon.im/vercel.com?larger=true"
            category="部署托管"
            id="DEV002"
          />

          <NavigationCard
            name="Iconify"
            avatar="https://favicon.im/yesicon.app?larger=true"
            description="海量图标库和图标搜索工具"
            url="https://yesicon.app/"
            category="图标设计"
            id="DEV003"
          />

          <NavigationCard
            name="Iconfont"
            avatar="https://img.xiaozhangya.xin/file/Logo/DEPF9Ovv.png"
            description="阿里巴巴图标库"
            url="https://www.iconfont.cn/"
            category="图标设计"
            id="DEV004"
          />

          <NavigationCard
            name="Shields"
            avatar="https://shields.io/img/logo.png"
            description="为项目生成各种徽章"
            url="https://shields.io/"
            category="徽章工具"
            id="DEV005"
          />

          <NavigationCard
            name="Picx"
            avatar="https://favicon.im/picx.xpoet.cn?larger=true"
            description="基于GitHub的图床"
            url="https://picx.xpoet.cn/"
            category="图床"
            id="DEV006"
          />

          <NavigationCard
            name="图片压缩"
            avatar="https://favicon.im/www.zippic.cn?larger=true"
            description="图片压缩工具"
            url="https://www.zippic.cn/zh/bulk-image-compressor"
            category="图片工具"
            id="DEV007"
          />

          <NavigationCard
            name="favicon 图标"
            avatar="https://favicon.im/favicon.im?larger=true"
            description="图标工具"
            url="https://favicon.im/zh/"
            category="图标"
            id="DEV008"
          />

          <NavigationCard
            name="emoji"
            avatar="https://favicon.im/emoji6.com?larger=true"
            description="表情工具"
            url="https://emoji6.com/emojiall/"
            category="表情"
            id="DEV009"
          />

          <NavigationCard
            name="fontawesome 图标"
            avatar="https://favicon.im/fontawesome.com?larger=true"
            description="fontawesome 图标"
            url="https://fontawesome.com/"
            category="图标设计"
            id="DEV010"
          />

          <!-- <NavigationCard
            name="Clarity"
            avatar="https://picbed.xiaozhangya.xin/picbed/20250726225237829.png"
            description="微软的用户行为分析工具"
            url="https://clarity.microsoft.com/"
            category="用户分析"
            id="DEV005"
          /> -->
        </div>
      </section>

      <!-- 服务平台 -->
      <section>
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:server" class="w-6 h-6 text-primary" />
          <span>服务平台</span>
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <NavigationCard
            name="aliyun"
            avatar="https://imgbed.kemeow.top/file/img/logo/nav/gQyPAu3e.png"
            description="阿里云域名托管"
            url="https://cn.aliyun.com/"
            category="域名管理"
            id="SRV001"
          />

          <NavigationCard
            name="Cloudflare"
            avatar="https://www.cloudflare.com/favicon.ico"
            description="全球领先的CDN和安全服务"
            url="https://dash.cloudflare.com/login"
            category="域名托管服务"
            id="SRV002"
          />

          <NavigationCard
            name="EdgeOne"
            avatar="https://img.xiaozhangya.xin/file/Logo/cRfyZZ2A.png"
            description="国内CDN和边缘计算服务"
            url="https://console.edgeone.cn/"
            category="CDN服务"
            id="SRV003"
          />

          <NavigationCard
            name="shengdaoyun"
            avatar="https://imgbed.kemeow.top/file/img/logo/nav/JBsnx5mY.png"
            description="圣道云"
            url="https://www.shengdaoyun.cn/"
            category="服务器 && 虚拟主机"
            id="SRV004"
          />

          <NavigationCard
            name="Waline"
            avatar="https://waline.js.org/favicon.ico"
            description="简洁、安全的评论系统"
            url="https://waline.js.org/"
            category="评论服务"
            id="SRV005"
          />

          <NavigationCard
            name="Giscus"
            avatar="https://avatars.githubusercontent.com/ml/9968?s=82&v=4"
            description="GitHub Discussions 评论系统"
            url="https://giscus.app/zh-CN"
            category="评论服务"
            id="SRV006"
          />
          <NavigationCard
            name="Akismet"
            avatar="https://img.xiaozhangya.xin/file/Logo/opkjgCvb.svg"
            description="保持评论区干净整洁的小助手"
            url="https://akismet.com/"
            category="评论服务"
            id="SRV007"
          />

          <NavigationCard
            name="GitHub"
            avatar="https://github.githubassets.com/favicons/favicon.svg"
            description="全球最大的开源社区"
            url="https://github.com"
            category="代码托管"
            id="SRV008"
          />

          <NavigationCard
            name="Twikoo"
            avatar="https://twikoo.js.org/twikoo-logo-mini.png"
            description="Twikoo评论服务"
            url="https://twikoo.js.org"
            category="评论服务"
            id="SRV009"
          />
        </div>
      </section>

      <!-- 娱乐资源 -->
      <section>
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:image" class="w-6 h-6 text-primary" />
          <span>娱乐资源</span>
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <NavigationCard
            name="Wallhaven"
            avatar="https://picbed.xiaozhangya.xin/picbed/20250726182418838.png"
            description="高质量壁纸分享社区"
            url="https://wallhaven.cc/"
            category="壁纸资源"
            id="ENT001"
          />
          <NavigationCard
            name="网盘资源社"
            avatar="https://img.xiaozhangya.xin/file/Logo/RwkDhIdV.png"
            description="网盘资源分享平台"
            url="https://www.wpzysq.com/"
            category="网盘资源"
            id="ENT002"
          />

          <NavigationCard
            name="BiliBili"
            avatar="https://52pokemon.huxx.top/favicon.ico"
            description="网络代理服务"
            url="https://52pokemon.huxx.top/login"
            category="代理服务"
            id="ENT003"
          />
        </div>
      </section>

      <!-- Useful Resources Section -->
      <section>
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:bookmark" class="w-6 h-6 text-primary" />
          <span>Useful Resources</span>
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <NavigationCard
            name="Astro"
            avatar="https://img.xiaozhangya.xin/file/Logo/HXADhsBn.png"
            description="Astro是一个现代化的静态网站生成器，专注于性能和开发者体验。"
            url="https://docs.astro.build"
            category="文档"
            id="RES001"
          />
          <NavigationCard
            name="Tailwind"
            avatar="https://img.xiaozhangya.xin/file/Logo/mrp0EiyB.png"
            description="Tailwind CSS是一个功能类优先的CSS框架，提供了实用的样式类。"
            url="https://tailwindcss.com/docs"
            category="文档"
            id="RES002"
          />
          <NavigationCard
            name="DaisyUI"
            avatar="https://img.xiaozhangya.xin/file/Logo/WEl6nL3H.svg"
            description="DaisyUI是一个基于Tailwind CSS的组件库，提供了丰富的UI组件。"
            url="https://daisyui.com/components/"
            category="UI 框架"
            id="RES003"
          />
          <NavigationCard
            name="TypeScript"
            avatar="https://img.xiaozhangya.xin/file/Logo/FL3XpMDh.png"
            description="TypeScript是JavaScript的超集，添加了静态类型和其他功能。"
            url="https://www.typescriptlang.org/docs/handbook/intro.html"
            category="文档"
            id="RES004"
          />
        </div>
      </section>
      <div class="divider my-8">
        <Icon name="lucide:heart" class="w-10 h-10 text-primary" />
      </div>
    </div>
  </MainCard>
</BaseLayout>
